/***************/
/*** GENERAL ***/
/***************/

* {
  -webkit-user-select: none;
  user-select: none;
}

html, body, #main, #installing {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: lighter;
  background-color: #f7f7f7;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #277cd0;
}

.left-panel, .right-panel {
  height: 100%;
  margin: 0;
  padding: 30px 30px;
}

.color-green {
  color: #56af57;
}

.background-green {
  background-color: #56af57;
}

.background-red {
  background-color: #D32F2F;
}

.color-red {
  color: #D32F2F;
}

/******************/
/*** LEFT PANEL ***/
/******************/

.left-panel>.row {
  margin-bottom: 30px;
}

.left-panel p {
  color: #fff;
  font-size: 1.2em;
  margin: 0;
}

#installed-version {
  font-size: 1.3em;
}

.node-image-container {
  text-align: center;
}

#node-logo {
  width: 80%;
  height: auto;
  cursor: pointer;
}

#installed-version span,
#update-to span,
#install-stable span,
#install-latest span {
  font-weight: normal;
}

#update-to {
  display: none;
}

.bottom {
  position: absolute;
  bottom: 30px;
}

.version-button {
  display: inline-block;
  border: 1px #fff solid;
  border-radius: 3px;
  padding: 5px 10px;
  width: 250px;
  font-size: 1.3em;
  margin-top: 10px;
}

.version-button img {
  width: 12px;
  height: auto;
  margin-right: 10px;
}

.version-button,
.version-button:link,
.version-button:visited,
.version-button:hover,
.version-button:active {
  color: #fff;
  text-decoration: none;
}

/*******************/
/*** RIGHT PANEL ***/
/*******************/
.school-image-container {
  text-align: center;
}

.school-image-container img {
  width: 280px;
  height: auto
}

.title {
  font-weight: normal;
  margin-bottom: -10px;
}

.text {
  line-height: 30px;
}

pre, code, code span {
  -webkit-user-select: all;
  user-select: all;
}

#code-container {
  height: auto;
  max-height: 320px;
}

pre[class*="language-"] {
  overflow: scroll !important;
  padding: 0em 1em;
}

/******************/
/*** INSTALLING ***/
/******************/
#installing {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999999;
}

#installing div {
  text-align: center;
}

#installing div h1 {
  font-weight: lighter;
  font-size: 3em;
  margin: 100px 0px;
}

#installing .error-message {
  display: none;
  padding: 20px;
  border-radius: 3px;
}

#error-text {
  -webkit-user-select: all;
  user-select: all;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

#error-button {
  display: block;
  border: 1px #D32F2F solid;
  border-radius: 3px;
  padding: 10px 15px;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

/***************/
/*** SPINNER ***/
/***************/
/* http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #56af57;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
