body {
  background-color: #333333;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

button {
  color: #d3d3d3;
  background: rgba(0,0,0,0);
  border: solid 5px #d3d3d3;
  cursor: pointer;
  font-size: 30px;
}
button:hover,
button.hover {
  border-color: #a8a8a8;
  color: #a8a8a8;
}
button:active,
button.active {
  border-color: #7e7e7e;
  color: #7e7e7e;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

div#load {
  text-align: center;
}
div#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.big-version {
  font-size:40px;
}
div.item {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.card {
  background-color:#3f3f3f;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
